@{
	ViewData["Title"] = "Home Page";
}


<section id="hero" style="background: url(../../../imgs/bg-ville.png) top center">
	<div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
		<h1 class="mb-4 pb-0">Votre meilleure option<br><span style="color: #09bab2"> d'accueil</span>, sûre et efficace</h1>
@*		<p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>*@
		<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
		<a href="#about" class="about-btn scrollto">En savoir plus</a>
	</div>
</section>
